.footer {
  height: 70px;
  background-color: $primary_color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;

  @include lg {
    display: grid;
    text-align: center;
    justify-content: center;
    height: 200px;
  }

  &__logo {
    display: flex;
    height: 60px;
    align-items: center;
    color: $white_color;
    font-size: 1.8rem;


    @include lg {
      justify-content: center;
    }
  }

  &__link {
    color: $white_color;
    text-decoration: none;
  }

  &__copyright {
    color: #9ec6e5;
  }
}
