$primary_color: #1a80c7;
$secondary_color: #65b32e;
$white_color: white;
$grey_color: #929292;
$background_color: #eae8e8;
$primary_text: #010101;
$secondary_text: #9d9d9d;

$screen-sm-min: 676px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
